@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap");

body {
  display: flex;
  flex-direction: column; /* Apilar header, main y footer en columna */
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  background-color: #f4e08a;
  color: #333;
  padding: 0 16px; /* quitamos padding-top, lo ponemos solo en main si hace falta */
  /*
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  margin: 0;
  background-color: #e0e0e0;
  color: #333;
  padding: 12px 16px;
  */
}

.cabecera_ajustada {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cabecera-left,
.cabecera-right {
  flex: 1;
  color: #1f4e54;
}

.cabecera-left {
  text-align: left;
}

.cabecera-left h1 {
  margin: 0;
  font-size: 24px;
  text-align: left;
  color: #1f4e54;
}

.cabecera-center {
  text-align: center;
  flex: 2;
}
.cabecera-center ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.cabecera-center li {
  display: inline-block;
  margin: 0 10px;
}
.cabecera-center a {
  text-decoration: none;
  color: #000;
  padding: 6px 8px;
}

.cabecera-right {
  text-align: right;
}
.cabecera-right img {
  vertical-align: middle;
  margin-right: 8px;
}
.cabecera-right label,
.cabecera-right select {
  vertical-align: middle;
}

.logo-cabecera {
  width: 60px;
  height: 60px;
}

.cuerpo {
  flex: 1; /* <- esto empuja el footer hacia abajo */
  display: block; /* se mantiene como bloque normal */
  padding: 12px 0;
  /*
  padding-right: 12px;
  overflow-y: scroll;
  */
}

.col-izq {
  float: left;
  width: calc(66.66% - 10px);
}

.col-der {
  float: left;
  width: 33.33%;
  margin-left: 10px;
}

.clear {
  clear: both;
}

.caja {
  border: 1px solid #888;
  background-color: #b5d8dd;
  padding: 10px;
  margin-bottom: 14px;
  text-align: center;
}

.izq-peq {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://www.shutterstock.com/image-photo/aerial-panoramic-view-hotel-zone-600nw-1790369885.jpg");
  font-weight: bold;
  font-size: x-large;
  color: rgb(153, 11, 11);
}
.izq-grande-1 {
  height: 220px;
}
.izq-grande-2 {
  height: 240px;
}
.der-vertical {
  height: 620px;
}

.pie {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1f4e54;
}

.flecha {
  background-color: #1f4e54;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.pack-viaje1 {
  background-image: url("https://cdn.autobild.es/sites/navi.axelspringer.es/public/media/image/2016/03/521755-selva-amazonica-extensa-planeta.jpg?tf=3840x");
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1;
}

.footer-left {
  text-align: left;
  font-size: large;
  font-weight: bold;
}

.footer-center {
  text-align: center;
}

.footer-center a {
  text-decoration: none;
  padding: 6px 8px;
  color: #1f4e54;
}

.footer-right {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: right;
  margin-right: 8px; /* hard-coded, no me gusta*/
}

.logo {
  height: 50px;
}

.youtube {
  height: 55px;
  width: 60px;
}

.link-logo {
  text-decoration: none;
}

.newsletter-titulo {
  font-size: smaller;
}

.caja-newsletter {
  display: flex; /* 👈 activa Flexbox */
  align-items: center; /* centra verticalmente */
  gap: 10px; /* espacio entre el título y el input */
}

/*Version A*/
.cuerpo_A {
  text-align: center;            
}

.contenedor_A {
  display: inline-block;
}

.caja_A {
  border: 1px solid #888;
  background-color: #b5d8dd; 
  padding: 10px;
  margin-bottom: 14px;
  text-align: center;
  width: 500px;
  height: 560px;
}

.formA {
  width: 90%;
  margin: 0 auto;
}

.formA .campo {
  float: left;          
  width: 45%;           
  margin-right: 5%;     
  margin-bottom: 14px;  
}

.clear {
  clear: both;
}

.formA label {
  display: block;       
  margin-bottom: 6px;   
}

.formA input {
  width: 100%;          
  height: 20px;         
  padding: 6px;         
}




/*Version B*/
.izq-peq-B {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: x-large;
  color: rgb(153, 11, 11);
}

/*Version C*/
.caja_C {
  border: 1px solid #888;
  background-color: #b5d8dd; 
  padding: 10px;
  margin-bottom: 14px;
  text-align: center;
}

.col-izq_C {
  float: left;                  
  width: calc(40% - 12px);      
}

.col-der_C {
  float: left;                  
  width: 60%;                   
  margin-left: 12px;            
}

.izq-grande-1_C { 
  height: 260px; 
}  
.izq-grande-2_C { 
  height: 300px; 
}  
.der-vertical_C { 
  height: 595px; 
}  

